[package]
name = "dfint_hook"
version = "0.1.1"
edition = "2021"

[lib]
name = "dfint_hook"
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
macro = { path = "src/macro" }
retour = { version = "0.3.1", features = ["static-detour"] }
log = "0.4.20"
simple-logging = "2.0.2"
regex = "1.10.3"
toml = "0.8.8"
backtrace = "0.3.69"
chrono = "0.4.34"
serde_derive = "1.0.164"
serde = "1.0.185"
static_init = "1.0.3"
dlopen2 = "0.6.1"
anyhow = "1.0.79"
device_query = "1.1.3"

[target.'cfg(target_os = "windows")'.dependencies]
exe = "0.5.6"
winapi = { version = "^0.3.9", features = [
  "minwindef",
  "winnt",
  "libloaderapi",
  "windef",
  "winuser",
] }

[target.'cfg(target_os = "linux")'.dependencies]
checksum = "0.2.1"
