[package]
name = "hook"
version = "0.1.0"
edition = "2021"

[lib]
name = "dfint_hook"
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
macro = { path = "src/macro" }
detour = { version = "^0.8.1", features = ["nightly"] }
log = "0.4.20"
simple-logging = "2.0.2"
winapi = { version = "^0.3.9", features = [
  "minwindef",
  "winnt",
  "libloaderapi",
  "windef",
  "winuser",
] }
encoding_rs = "*"
encoding_rs_io = "*"
regex = "*"
toml = "0.8.0"
exe = "0.5.6"
walkdir = "2.3.3"
backtrace = "0.3.69"
chrono = "0.4.26"
serde_derive = "1.0.164"
serde = "1.0.185"
static_init = "1.0.3"
